<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd"
       default-autowire="byName">

    <context:property-placeholder ignore-unresolvable="true" file-encoding="utf-8" location="classpath:web-api.properties"/>
    <context:component-scan base-package="com.zqs" use-default-filters="true">
    </context:component-scan>
    <!--开启这个配置，spring才能识别@Scheduled注解   -->
    <task:annotation-driven scheduler="qbScheduler"/>
    <task:scheduler id="qbScheduler" pool-size="10"/>

    <!-- hibernate validator校验器 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="fileEncodings" value="utf-8"/>
        <property name="cacheSeconds" value="120"/>
    </bean>

    <mvc:annotation-driven conversion-service="conversionService" validator="validator">
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter"/>

            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="features">
                    <util:list>
                        <value>WriteMapNullValue</value>
                        <value>WriteNullStringAsEmpty</value>
                    </util:list>
                </property>
            </bean>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=utf-8</value>
                        <value>text/plain;charset=utf-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>

        <mvc:argument-resolvers>
            <bean class="com.zqs.scg.common.paging.PagingParams"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <!-- 对静态资源文件的访问， 将无法mapping到Controller的path交给default servlet handler处理 -->
    <mvc:default-servlet-handler />

    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"/>

    <!-- 前后端分离的登录跳转 -->
    <bean id="toPortalPage" class="org.springframework.web.servlet.view.RedirectView">
        <property name="exposeModelAttributes" value="false" />
        <property name="url" value="${my.client.url}" />
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/"></property> <!-- 视图文件的前缀 -->
        <property name="suffix" value=".jsp"></property> <!-- 视图文件的后缀名 -->
    </bean>

    <!-- Spring mvc文件上传，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <!-- 上传文件大小限制为10M -->
        <property name="maxUploadSize" value="10485760"/>
        <property name="resolveLazily" value="true"/>
    </bean>

    <!-- aop  start -->
    <context:component-scan base-package="com.zqs.scg" use-default-filters="true" />

    <aop:config>
        <aop:pointcut id="xxx" expression="execution(* com.zqs.scg..*.* (..))" />
    </aop:config>

</beans>
